<div id='index-view'>

    <div id='temp' ng-show="user">
        {{user.name}}
		<a class='right' ng-href="/profile/{{user.phonenumber}}">View Profile</a>
        <a ng-click="logout()">SIGN-OUT</a>
    </div>

	<h1 class='banner'>Welcome!</h1>

	<section>

		<p id='welcome-copy'>copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  
		</p>

		<a href="/new" class='btn short left'>GET STARTED</a>
		<a href="/sign-in" class='btn short right'>SIGN-IN</a>

	</section>

</div>