<div id='index-view'>

<a class='right' ng-show="user" ng-href="/profile/{{user.phonenumber}}">View Your Profile</a>

	<h1 class='banner'>Welcome!</h1>

	<section>

		<p id='welcome-copy'>copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  
		</p>

		<a href="/new" class='btn short left'>GET STARTED</a>
		<a href="/sign-in" class='btn short right'>SIGN-IN</a>

	</section>

</div>