<div id='index-view'>

	<h1 class='banner'>Welcome!</h1>

	<section>

		<p id='welcome-copy'>copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  copy copy this is how it works.  
		</p>

		<a href="/new" class='btn short left'>GET STARTED</a>
		<button class='btn short right'>SIGN-IN</button>

	</section>

</div>