<div>
LOGIN/CREATE NEW FORM
<br/>

<button ng-show="!user.new" ng-click='user={new:true}'>I'm new</button>
<button ng-show="user.new" ng-click='user={new:false}'>I'm not new</button>
<br/>


<span ng-show='user.new'>

<label>Name *</label>
<input ng-class="{'error':error.name}" ng-model='user.name' type='text' />
<br/>

<label>Email</label>
<input ng-class="{'error':error.email}" ng-model='user.email' type='text' />
<br/>

</span>

<label>Phone number *</label>
<input ng-class="{'error':error.phonenumber}" ng-model='user.phonenumber' type='text' />
<br/>

<label>Password *</label>
<input ng-class="{'error':error.password}" ng-model='user.password' type='text'>
<br/>
<span ng-show='user.new'>
	<label>Confirm Password *</label>
	<input ng-class="{'error':error.confirmPassword}" ng-model="user.confirmPassword" type='text'>
</span>

<br/>
<button ng-disabled="!user.phonenumber||!user.password" ng-click='submit()'>SUBMIT</button>

</div>







