<div>
USER
{{user}}
<br/>





<hr>
CREATE NEW

<label>Phone number *</label>
<input ng-class="{'error':error.phonenumber}" ng-model='user.phonenumber' type='text' />
<br/>
	<label>Password *</label>
	<input ng-class="{'error':error.password}" ng-model='user.password' type='text'>
	<br/>
	<span>
		<label>Confirm Password *</label>
		<input ng-class="{'error':error.confirmPassword}" ng-model="user.confirmPassword" type='text'>
	</span>


<button ng-disabled='!(user.phonenumber&&user.password&&user.confirmPassword)' ng-click='submitNew()'>OK</button>

<hr>

<hr>
LOGIN

<label>Phone number *</label>
<input ng-class="{'error':error.phonenumber}" ng-model='user.phonenumber' type='text' />
<br/>
	<label>Password *</label>
	<input ng-class="{'error':error.password}" ng-model='user.password' type='text'>


<button ng-disabled='!(user.phonenumber&&user.password)' ng-click='submitLogin()'>OK</button>

<hr>



<!-- stage: 0 -->

<label>Phone number *</label>
<input ng-class="{'error':error.phonenumber}" ng-model='user.phonenumber' type='text' />
<br/>

<button ng-disabled="!user.phonenumber" ng-click='submitUsername()'>OK</button>


<!-- stage: 1 -->

<div ng-show="stage>0">

	<label>Password *</label>
	<input ng-class="{'error':error.password}" ng-model='user.password' type='text'>
	<br/>
	<span ng-show='user.exists==false'>
		<label>Confirm Password *</label>
		<input ng-class="{'error':error.confirmPassword}" ng-model="user.confirmPassword" type='text'>
	</span>

	<br/>
	<button ng-disabled="!user.phonenumber||!user.password" ng-click='submit()'>OK</button>

</div>

</div>







