<div class='view sign-in' id='reset-password-view'>

	<div ng-show="stage==0" class='container'>
		<p class='error'>{{error.message}}</p>

		<h2 class='title'>We'll send a reset code via SMS message</h2>

		<input ng-model="cleaner.phonenumber" ng-class="{'error':error.phonenumber}" type='text' class='text-field' placeholder="Phonenumber" >
		<button ng-click="sendResetCode()" ng-disabled="!(cleaner.phonenumber)" class='btn'>SEND RESET CODE</button>

	</div>


	<div ng-show="stage==1" class='container'>
		<p class='error'>{{error.message}}</p>

		<div class='side-bubble'>
			<p class='text'>Enter the code you recieved via text!</p>
		</div>

		<input ng-model="cleaner.reset_code" ng-class="{'error':error.reset_code}" type='text' class='text-field' placeholder="Code" >
		<input ng-model="cleaner.password" ng-class="{'error':error.password}" type='text' class='text-field' placeholder="New Password" >
		<input ng-model="cleaner.confirmPassword" ng-class="{'error':error.confirmPassword}" type='text' class='text-field' placeholder="Confirm Password" >
		<button ng-click="submitNewPassword()" ng-disabled="!(cleaner.reset_code&&cleaner.password&&cleaner.confirmPassword)" class='btn'>RESET</button>

		<div class='other-options'>
			<a ng-show="sendAgainEnabled" class='right' ng-click="sendResetCode()">Send code again</a>
		</div>

	</div>
</div>