
<section ng-show="stage==4" id='scheduling'>

	<div class='panel'>
		<h3 class='panel-title'>When can you work?</h3>
		<table id='schedule'>
			<thead>
				<tr>
					<th>MON</th>
					<th>TUE</th>
					<th>WED</th>
					<th>THU</th>
					<th>FRI</th>
					<th>SAT</th>
					<th>SUN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>8-12<span class='small'>pm</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>12-4<span class='small'>pm</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>4-8<span class='small'>pm</span></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class='next'><button ng-click="next()" class='btn'>NEXT</button></div>
	</div>
</section>