/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: June 2014


 	base CSS styles 


	colors:
		orange: #ef7625 
		dark-blue: #29abe2 
		light-blue: #a0e4f9 
		purple: #1b1464


****************************************************/


@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat-Regular.ttf);
}


html,body {
	margin: 0;
	padding: 0;
	background-color: #a0e4f9;
}
html,body, #view, .view {
	height: 100%;
}
a, button { cursor: pointer; }
button:disabled { cursor: initial; }

h1,h2,h3,h4,h5,p,li,a, td, th, span, label {
	font-family: Montserrat-Regular;
	margin: 0;
}
textarea {
	background-color: white;
	border: none;
	margin: 0;
	padding: 1em;
	font-size: 1em;
	min-height: 100px;
	box-sizing: border-box;
	width: 100%;
}
/* - colors ------------- */
.blue-1 { color: #a0e4f9; }
.blue-2 { color: #54c0dd; }
.blue-3 { color: #29abe2; }
.orange { color: #ef7625; }
.purple { color: #1b1464; }
/* ------------- colors - */

.text-field, .btn {
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 300px;
	border-width: 3px;
	border-style: solid;
}
.text-field.short,
.btn.short {
	width: 250px;
}
input,
.text-field {
	background-color: transparent;
	border-color: white;
	color: #29abe2;
}
::-webkit-input-placeholder { color: #29abe2; }
:-moz-placeholder { color: #29abe2; }
::-moz-placeholder { color: #29abe2; }
:-ms-input-placeholder { color: #29abe2; }

.btn {
	color: #a0e4f9;
	background-color: #29abe2;
	border-color: #29abe2;
}
.btn:hover, .btn.hover,
.btn:disabled {
	background-color: #54c0dd;
	border-color: #54c0dd;
}
.btn:disabled {
	cursor: default;
}
a.btn {
	text-decoration: none;
}
.next {
	text-align: right;
}
.next .btn {
	width: 100px;
	border-color: #a0e4f9;
	text-align: center;
}
.banner{
	background-color: #ef7625;
	color: white;
	font-size: 4em;
	padding: 0.1em;
	text-align: center;
}

.panel {
	max-width: 750px;
	vertical-align: top;
}
.panel .panel-title {
	color: white;
	background-color: #1b1464;
	font-size: 1.5em;
	padding: 0.5em 0;
	text-align: center;
}
.panel.orange .panel-title {
	background-color: #ef7625;
}
.panel.blue-3 .panel-title {
	background-color: #29abe2;
}
.panel.info .panel-title {
	text-align: left;
}
.panel .panel-body {
	background-color: white;
	padding: 1.5em;
	color: #29abe2;
}
.panel.info .panel-body {
	background-color: transparent;
	padding: 1em 0;
	color: #1b1464;
	font-size: 1.2em;
	height: 130px;
}
.panel img.panel-body {
	width: 100%;
	padding: 0;
}

.panel input {
  margin: 0;
  border: none;
  outline: 1px solid #29abe2;
  padding: 0.25em;
}

.panel ::-webkit-input-placeholder { color: #a0e4f9; }
.panel :-moz-placeholder { color: #a0e4f9; }
.panel ::-moz-placeholder { color: #a0e4f9; }
.panel :-ms-input-placeholder { color: #a0e4f9; }

/*- .panel.two-sides ----------------*/
.panel.two-sides .side {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
.panel.two-sides .side p {
	font-weight: bold;
	height: 50px;
}
.panel.two-sides input[type=number] {
	display: block;
	margin: 5px 0;
}

/*---------------- .panel.two-sides -*/


section .panel {
	margin: auto;
}


/* ------ #book-apt-panel ------ */

#book-apt-panel.panel {
  clear: both;
}
#book-apt-panel .left {
	float: left;
	max-width: 490px;
}
#book-apt-panel .right {
	float : right;
}
#book-apt-panel input {
  width: 47%;
}

#book-apt-panel input:nth-child(even){
  float: left;
  margin: 1% 1% 1% 0;
}

#book-apt-panel input:nth-child(odd){
    float:right;
    margin: 1% 0 1% 1%;
}

#book-apt-panel input:nth-last-child(1){
  width: 100%;
}
@media (max-width: 750px) {
  #book-apt-panel input {
    width: 100%;
  }
}
/* ------ #book-apt-panel ------ */


.clear {
  clear: both;
}






/** {
	padding: 0;
	margin: 0;
	border: none;
}

.panel .panel-body .left {
	max-width: 360px;
}
.panel .panel-body .left input {
	outline: 1px solid #29abe2;
	width: 100%;
}
.panel .panel-body .left input.short {
	width: 170px;
}
.panel .panel-body .left input.short:nth-child(odd) {
	margin-right: 8px;
}*/




textarea.panel-body {
	height: 200px;
}
p.error {
	margin: auto;
	color: red;
	text-align: center;
}

input.error {
	border: 2px solid red;
}
.action-bubble {
	border: 4px solid #29abe2;
	border-radius: 50%;
	background-color: #a0e4f9;
	width: 100px;
	height: 100px;
	color: white;
	text-align: center;
	position: relative;
}
.action-bubble h3 {
	font-size: 18px;
}







#schedule {
	width: 100%;
	margin-top: 10px;
}

#schedule th, td{
	color: white;
}
#schedule th{
	color: white;
	text-align: left;
	font-size: 0.8em;
	width: 14%; /* 1/7th of the total width */
}
#schedule td{
	border-left: 2px solid #a0e4f9;
	border-top: 2px solid #a0e4f9;
	cursor: pointer;
	font-weight: bold;
	background-color: #29abe2;
	height: 60px;
	font-size: 1.4em;
	padding: 4px;
}
#schedule td:first-child {
   border-left: 0;
}
#schedule td .small {
	font-size: 0.5em;
}
#schedule td:hover {
	opacity: 0.6;
}
#schedule td.busy{
	background-color: #ef7625;
}
#schedule td.active {
	background-color: #1b1464;
}




/*** services-provided section ***/
#services-provided {
	
}


/*** services-provided section ***/

/*** personal section ***/
section#personal .container {
	max-width: 850px;
	margin: auto;
}
#personal .info-container {
	width: 500px;
	vertical-align: bottom;
}
@media (max-width: 850px) {
	section#personal .container {
		text-align: center;
	}
	#personal .info-container {
		width: auto;
	}
}
section#personal p {
}
section#personal textarea,
section#personal p {
	margin: 10px 0;
	color: #29abe2;
	font-size: 24px;
	font-weight: bold;
	height: 150px;
}
#personal .pic-container, 
#personal .info-container {
	display: inline-block;
	padding: 0 20px;
}
#personal .pic-container img {
	display: block;
	margin: auto;
	border-radius: 50%; /*circular image*/
}
#personal .file-upload-btn {
	position: relative;
	cursor: pointer;
	border: 3px solid #a0e4f9;
	border-radius: 6px;
	padding: 10px;
	text-align: center;
	max-width: 150px;
	margin: 10px auto 0 auto;
	overflow: hidden;
}
#personal .file-upload-btn {
	color: #a0e4f9;
}
#personal .file-upload-btn input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#personal .name {
	color: #1b1464;
	font-size: 2.5em;
	margin: 10px 0;
}

/* ------- new-view ---------- */
.back-btn {
	border: none;
	position: absolute;
	color: white;
	background: transparent;
	margin-top: -50px;
	cursor: pointer;
}
#new-view section {
	height: 100%;
	border-bottom: 3px solid white;
	padding: 2.5em 0;
	overflow: auto;
}

#new-view section#services-provided{
	background-color: #ef7625;
}
#new-view section#personal{
	background-color: #29abe2;
}
#new-view section#create-username,
#new-view section#create-username {
	padding: 4em 0;
}
#new-view section#create-username input,
#new-view section#create-username .btn,
#new-view section#create-password input,
#new-view section#create-password .btn{
	display: block;
	margin: 20px auto;
}
#new-view section#create-password .name {
	color: #1b1464;
	text-align: center;
}
#new-view section#work-areas {
	background-color: #29abe2;
}
#new-view section#finished .btn {
	margin: 70px auto;
	display: block;
}

/* ------- new-view ---------- */

/* ------- index-view ---------- */
#index-view .banner{
	margin: 1em 0 0 0;
	font-size: 4em;
	color: #a0e4f9;
}
#index-view section {
	max-width: 600px;
	margin: auto;
	padding: 1em;
}
#index-view #welcome-copy {
	font-size: 18px;
	color: #1b1464;
	margin: 2em auto;
}
@media (min-width: 500px) {
	#index-view .btn.left {
		float: left;
	}
	#index-view .btn.right {
		float: right;
	}
}
@media (max-width: 499px) {
	#index-view .btn {
		display: block;
		margin: 10px auto;
	}
}
/* ---------------- index-view - */

/* - style-guide ---------------- */

/* need space between everything */
#style-guide >* {
	margin: 30px;
}

#style-guide #colors{
	background-color: white;
	padding: 10px;
}
#style-guide #colors span{
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}





/* ---------------- style-guide - */




