/***************************************************
	Significance Labs
	Brooklyn, NYC

 	Author: Alexandra Berke (aberke)
 	Written: June 2014



	styles for sign-in/create user flow

	the following views have the .sign-in class
		sign-in.html
		reset-password.html


	colors:
		orange: #ef7625 
		dark-blue: #29abe2 
		light-blue: #a0e4f9 
		purple: #1b1464

****************************************************/


.sign-in {
	background-color: #a0e4f9;
	text-align: center;
	color: #29abe2;
}
.sign-in .container {
	margin: 100px auto;
}
.sign-in .logo,
.sign-in .title,
.sign-in input,
.sign-in button,
.sign-in .other-options {
	margin: 20px auto;
	display: block;
}

.sign-in .title {
	color: white;
	max-width: 300px;
}

.other-options {
	width: 300px;
}
.other-options a {
	text-decoration: none;
	color: #29abe2;
	margin: 0 10px;
}
.other-options .left {
	float: left;
}
.other-options .right {
	float: right;
}

/* side bubble on reset-password */
.side-bubble {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #29abe2;
	color: white;
	position: absolute;
	left: 100px;
}
.side-bubble .text {
	padding: 30% 0;
}








