/*

Styles for jason's profile
		/static/jason/profile.html

*/

@font-face {
    font-family: Montserrat-Regular;
    src: url(/static/fonts/Montserrat-Regular.ttf);
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Montserrat-Regular;
	color: #1b1464;
}
h1, h2, h3, p{
	font-family: Montserrat-Regular;
	word-wrap: break-word;
}
h1,h2,h3 {
	font-weight: bold;
	line-height: 1em;
}

#background {
	position: absolute;
	top: 160px;
	background-color: #a0e4f9;
	z-index: -1;
	height: 450px;
	width: 100%;
}
#content{
	max-width: 1000px;
	margin: 50px auto;
}
#left-container,#right-container{
	display: inline-block;
	vertical-align: top;
}
#left-container {
	max-width: 350px;
	text-align: center;
}
#right-container {
	max-width: 550px;
	padding: 0 30px;
}
#left-container p {
	font-weight: bold;
	margin: 0;
}
#left-container h3,
#right-container h2 {
	margin: 0;
}
#right-container h3 {
	margin: 2em 0;
}
#list {
	margin: 20px 0;
}
#list p {
	margin: 0;
}
#title {
	font-size: 2.5em;
}


img#profile-pic {
	border: 4px solid #1b1464;
	border-radius: 50%;
	margin-bottom: 20px;
}

@media (max-width: 999px) {

	#right-container, #left-container {
		max-width: 300px;
		display: block;
		margin: auto;
	}
}

